#banner{
  background-color: #EEEDDE;
  width: 100%;
  padding: 130px 0 60px 0;
}
.banner_wrapper{
  display: flex;
}
.banner_content{
  width: 777px;
}
.banner_content h1{
  color: #203239;
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  width: 765px;
  text-transform: capitalize;
  margin-top: 62px;
}
.banner_content p{
  width: 544px;
  margin-top: 24px;
  text-transform: capitalize;
}
.banner_content .banner_search{
  margin-top: 56px;
  width: 675px;
  background-color: #fff;
  height: 70px;
  border-radius: 15px;
  position: relative;
}
.banner_search from{
  width: 100%;
  height: 100%;
}
.banner_search button{
  color: #fff;
  background-color: #203239;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  padding: 13px 41px;
}
.banner_search i{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.banner_search from input{
  width: 100%;
  height: 100%;
  border: hidden;
  padding: 23px 0px 23px 56px;
  border-radius: 15px;
  line-height: normal;
  color: black;
}
.banner_content .banner_counter{
  padding-top: 50px;
  display: flex;
  align-items: flex-start;
  column-gap: 72px;
}
.banner_content .banner_counter .counter_item p{
  margin-top: 0;
  width: 141px;
}
.banner_content .banner_counter .counter_item span{
  color: #203239;
  font-size: 56px;
  font-weight: 700;
  line-height: 150%;
}
.banner_content .banner_counter .counter_item span span{
  color: #FF7527;
}
.banner_image{
  width: 405px;
}